@charset "UTF-8";

/* CSS Document */

#DCRreport {
	width: 90%;
	margin: 0px auto;
	font-weight: bold;
	overflow: hidden;
	h1 {
		font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #3b90ce;
		font-size: 38px;
		margin: 0px;
		padding: 0px;
		margin-bottom: 10px;
		padding: 20px 0px;
		border: 2px solid #d8d8d8;
		border-left: none;
		border-right: none;
		text-align: center;
	}
}

h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3b90ce;
	font-size: 38px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	padding: 20px 0px;
	border: 2px solid #d8d8d8;
	border-left: none;
	border-right: none;
	text-align: center;
}

#DCRreport p {
	font-size: 18px;
	margin: 0px;
	padding: 8px 0px;
}

.DCRreportBody {
	clear: both;
	overflow: hidden;
}

.DCRreportLeft {
	width: 48%;
	float: left;
}

.DCRreportRight {
	width: 48%;
	float: Right;
}

.DCRreportTable {
	margin-top: 12px;
	td {
		color: #000000;
		font-size: 14px;
		font-weight: normal;
		background: #f0f0f0;
		height: 32px;
		vertical-align: middle;
		padding: 8px 20px;
		line-height: 20px;
	}
	.DCRreportTableHeader {
		color: #000000;
		padding: 0px 10px;
		font-size: 18px;
		line-height: 38px;
		font-weight: bold;
		background: #7fa326;
		text-transform: uppercase;
		text-align: center;
		height: 38px;
	}
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

.DCRreportTable .DCRreportImagecenter {
	text-align: center;
	padding: 20px;
}

.RFI_contact {
	clear: both;
	padding: 15px 0px;
	margin-top: 10px;
	border-top: 2px solid #7B7B7B;
	overflow: hidden;
}

.RFI_contact_left, .RFI_contact_right {
	width: 48%;
	float: left;
}

#DCRreport .RFI_contact p {
	font-weight: normal;
	span {
		font-weight: bold;
	}
}

.DCRreportTable .RFI_text {
	font-size: 16px;
	padding: 20px;
}
