@charset "UTF-8";

/*******************************************************************************

[vim]
vim: set noexpandtab tabstop=4 shiftwidth=4 softtabstop=4:

[emacs]
Local variables:
tab-width: 4
c-basic-offset: 4
c-hanging-comment-ender-p: nil
c-indent-level: 4
indent-tabs-mode: t
tab-stop-list: '(4 8 12 16 20 24 28 32 36 40 44 48 52 56 60)
End:

*******************************************************************************/

#RFI {
	max-width: 1200px;
}

#RFI h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3b90ce;
	font-size: 38px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	padding: 30px 0px;
	border: 2px solid #d8d8d8;
	border-left: none;
	border-right: none;
}

.RFI_table {
	border: 3px solid #d4d4d4;
	margin-bottom: 10px;
}

.RFI_table_create {
	border: 3px solid #d4d4d4;
	margin: 0px 2% 10px 0px;
	width: 48%;
	float: left;
}

.RFI_table_header {
	background: #387792;
}

.RFI_table_header2 {
	background: #387792;
	border-left: 1px solid #b1b1b1;
	font-size: 14px;
	text-shadow: 0px 2px 2px rgba(88, 88, 88, 0.78);
	color: #FFF;
	padding: 12px;
	font-weight: bold;
}

.RFI_table_header td {
	font-size: 14px;
	text-shadow: 0px 2px 2px rgba(88, 88, 88, 0.78);
	color: #FFF;
	padding: 12px;
	font-weight: bold;
}

.RIF_table_content_div {
	overflow: scroll;
	max-height: 295px;
	overflow-x: hidden;
}

.RIF_table_content_tbl tr, .RFI_table2_content2 {
	font-size: 11px;
	color: #4e4f51;
	background: #d0d0d0;
	/* Old browsers */
	background: -moz-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(99%, #f9f9f9), color-stop(99%, white));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* W3C */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#ffffff',GradientType=0 ); */
	/* IE6-9 */
}

.RIF_table_content_tbl tr td {
	padding: 12px;
	border-left: 1px solid #b1b1b1;
}

.RFI_table2_content2 {
	padding: 12px;
	border-left: 1px solid #b1b1b1;
}

.RFI_table2_content2 td {
	padding: 12px;
	border-left: 1px solid #b1b1b1;
}

.RFI_table2_content {
	font-size: 11px;
	color: #4e4f51;
	padding: 12px;
	border-left: 1px solid #b1b1b1;
	background: #d0d0d0;
	/* Old browsers */
	background: -moz-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(99%, #f9f9f9));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #d0d0d0 0%, #f9f9f9 99%);
	/* W3C */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#f9f9f9',GradientType=0 ); */
	/* IE6-9 */
}

.RFI_table_dark_header {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 2px 2px rgba(88, 88, 88, 0.78);
	color: #FFF;
	padding: 12px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(48%, #3f3f3f), color-stop(99%, #595959));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* W3C */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#595959',GradientType=0 ); */
	/* IE6-9 */
}

.DELAY_table_dark_header {
	font-size: 14px;
	font-weight: bold;
	width:1250px;
	text-shadow: 0px 2px 2px rgba(88, 88, 88, 0.78);
	color: #FFF;
	padding: 12px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(48%, #3f3f3f), color-stop(99%, #595959));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* W3C */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#595959',GradientType=0 ); */
	/* IE6-9 */
}

.SUBCONTRACT_table_dark_header {
	font-size: 14px;
	font-weight: bold;
	width:1250px;
	text-shadow: 0px 2px 2px rgba(88, 88, 88, 0.78);
	color: #FFF;
	padding: 12px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(48%, #3f3f3f), color-stop(99%, #595959));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #595959 0%, #3f3f3f 48%, #595959 99%);
	/* W3C */
	/* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#595959',GradientType=0 ); */
	/* IE6-9 */
}

textarea.RFI_table2 {
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 98%;
	padding: 8px 4px;
	font-size: 11px;
	color: #4e4f51;
	height: 80px;
	line-height: 18px;
	border: none;
}

input[type='text'].RFI_table2 {
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 98%;
	padding: 8px 4px;
	font-size: 11px;
	color: #4e4f51;
	height: 10px;
	line-height: 18px;
	border: 1px solid #d4d4d4;
}

input[type='text'].RFI_table3 {
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 50%;
	padding: 8px 4px;
	font-size: 11px;
	color: #4e4f51;
	height: 10px;
	line-height: 18px;
	border: 1px solid #d4d4d4;
}

.moduleRFI {
	margin: 4px 0px;
	overflow: hidden;
}

.moduleRFI2 {
	width: 48%;
	margin-right: 1%;
	float: left;
}

.moduleRFI label {
	display: inline-block;
	float: left;
	padding-top: 0;
	height: 30px;
	line-height: 30px;
}

.moduleRFI2 label {
	display: inline-block;
	float: none;
	width: 100%;
	text-align: left;
}

.moduleRFI input[type='checkbox'] {
	width: 18px;
	padding: 0px;
	margin: 0px;
}

.RFI_table2_content_selection {
	width: 97%;
	overflow: scroll;
	overflow-x: hidden;
	height: 80px;
	border: 1px solid #b2b2b2;
	background: #FFF;
	padding: 8px;
}

.RFI_table2_content_selection ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.RFI_table2_content_selection a {
	color: #EE0003;
	font-weight: bold;
	margin-right: 8px;
}

.RFI_table2_content_selection a:hover {
	color: #B80003;
}

.RFI_table2_content_selection ul li {
	padding: 7px;
}

.RFI_table2_content_selection ul li:nth-child(even) {
	background: #F0F0F0;
}

.RFI_table2_content_selection ul li:hover {
	background: #D6D6D6;
}

.moduleRFISelect span {
	color: #FF0004;
	font-weight: bold;
}

.moduleRFI input {
	float: left;
	width: 40%;
	border: 1px solid #b2b2b2;
	height: 25px;
	font-family: Arial, sans-serif;
	background: #fff url(/images/backgrounds/form-input.gif) repeat-x;
	padding-left: 1%;
	font-size: 11px;
	color: #4e4f51;
}

.moduleRFI_dropdown {
	text-align: center;
	width: 30%;
	height: 30px;
	color: #4e4f51;
	font-size: 14px;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.moduleRFI_dropdown2 {
	text-align: center;
	width: 100%;
	height: 30px;
	color: #4e4f51;
	font-size: 14px;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.moduleRFI_dropdown3 {
	text-align: center;
	width: 80%;
	height: 30px;
	color: #4e4f51;
	font-size: 14px;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.moduleRFI_dropdown4 {
	text-align: center;
	width: 90%;
	height: 30px;
	color: #4e4f51;
	font-size: 14px;
	text-align: left;
	padding: 0px;
	margin: 0px;
}

.margin0px {
	margin: 0px;
}

.height25px {
	height: 25px;
}

/*
input[type=button].padding8px {
	padding: 8px;
	box-shadow: 0px 2px 2px rgba(88,88,88,0.78);
	margin: 8px 3px;
	min-width: 120px;
}

input[type=button] {
	box-shadow: 0px 2px 2px rgba(88,88,88,0.78);
	margin: 2px 5px;
}
*/

#tableRfiList tbody tr:hover {
	cursor: pointer;
	background: #eaeaea;
	/* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #f9f9f9 99%, white 99%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(99%, #f9f9f9), color-stop(99%, white));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #f9f9f9 99%, white 99%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%, #f9f9f9 99%, white 99%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%, #f9f9f9 99%, white 99%);
	/* IE10+ */
	background: linear-gradient(to bottom, #eaeaea 0%, #f9f9f9 99%, white 99%);
	/* W3C */
}

#container--request_for_information_attachments--manage-request_for_information-record td {
	font-size: 0.9em;
}

#rfiTable {
	margin-bottom: 20px;
}

#rfiTable tbody tr:hover {
	background: #3487c7;
	cursor: pointer;
}

#rfiTable tbody tr:active {
	background: #2376b6 !important;
}

.trActive {
	background: #3487c7 !important;
}

.rfiSpan {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

#rfiDetails {
	display:none;
}

textarea.RFI_table2{
	font-size:13px!important;
}

/*start*/

.RFI_table2_content .input-group{
	width:100%;
}
.tokenfield .token{
	background: #387792 !important;
	color: white;
	border: 1px solid #387792 !important;
	padding: 5px 5px;
}
.tokenfield .token .close{
	color:#fff;
}
.tokenfield.input-lg .token-label {
	line-height: normal !important;
}
.tokenfield.form-control.input-lg {
	box-shadow: 0px 0px 2px 0px #93989d;
	height: 100% !important;
	min-height: 20px !important;
	padding: 3px 5px;
	width: 93% !important;
	background: #fff;
}
.ui-button.ui-corner-all.ui-widget{
	border: 1px solid #cccccc;
	/* background: #a3c74d url("images/ui-bg_inset-soft_35_a3c74d_1x100.png") 50% 50% repeat-x; */
	background: #aaa;
	font-weight: normal;
	color: #ffffff;
	background: #21abe1;
	background: -moz-linear-gradient(top, #21abe1 0%, #026dae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21abe1), color-stop(100%, #026dae));
	background: -webkit-linear-gradient(top, #21abe1 0%, #026dae 100%);
	background: -o-linear-gradient(top, #21abe1 0%, #026dae 100%);
	background: -ms-linear-gradient(top, #21abe1 0%, #026dae 100%);
	background: linear-gradient(to bottom, #21abe1 0%, #026dae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21abe1', endColorstr='#026dae',GradientType=0 );
	color: white;
	border: 1px solid #2985b4;
	padding: 5px 10px;
	border-radius: 5px;
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
	text-indent: -9999999px;
}
#search_data-tokenfield{
	max-width:60px;
}
/*?end*/
